/* General Content */
html {
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #2C2F33;

}

h1 {
  position: relative;
  padding: 3px;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

body {
  background-color: #2C2F33;
  color: #ffffff;
  margin: 0;
}

/* Home page (index.html) */
.home_img {
  position: relative;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  left: 775px;
  top: -275px;
}

.home_body {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  padding: 60px 60px;
  position: relative;
  top: 50px;
}

.home_p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  padding-left: 60px;
  position: relative;
  top: -60px;
  margin: 0;
}

.home_about_button {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  height: 60px;
  border: none;
  color: #ffffff;
  background-color: #23272A;
  position: absolute;
  top: 345px;
  left: 62px;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.home_about_button:hover {
  background-color: #ffffff;
  color: #2C2F33;
}

.home_contact_button {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  height: 60px;
  border: none;
  color: #ffffff;
  background-color: #23272A;
  position: absolute;
  top: 345px;
  left: 178px;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.home_contact_button:hover {
  background-color: #ffffff;
  color: #2C2F33;
}

/* About page (about.html) */
.about_body {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: center;
  top: 10px;
}

.about_p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  top: 30px;
  margin: 0;
}

.about_img {
  position: relative;
  width: 325px;
  height: 325px;
  border-radius: 50%;
  top: -10px;
  left: 468px;
}

.about_a {
  font-size: 20px;
  text-decoration: underline;
}

.about_container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_box1 {
  position: relative;
  left: 190px;
  top: 20px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background-color: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #ffffff;
  border-radius: 5%;
  padding-top: 10px;
}

.about_box2 {
  position: relative;
  left: 690px;
  top: -661px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background-color: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #ffffff;
  border-radius: 5%;
  padding-top: 10px;
}

.about_ul {
  float: none;
  color: #ffffff;
}

.about_li {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
  top: -295px;
  left: 300px;
  display: list-item;
  color: #ffffff;
}

.about_li2 {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: relative;
  top: -978px;
  left: 775px;
  display: list-item;
  color: #ffffff;
}

.about_video {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  position: relative;
  top: -970px;
  left: 215px;
}

.video {
  position: relative;
  top: -1000px;
  left: 350px;
}

/* Contact page (contact.html) */
.contact_body {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: center;
  top: 10px;
}

.contact_p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -5px;
  margin: 0;
}

.contact_img1 {
  position: relative;
  width: 175px;
  height: 175px;
  left: 400px;
  top: 30px;
}

.contact_img2 {
  position: relative;
  width: 175px;
  height: 175px;
  left: 675px;
  top: -220px;
}

.contact_img_subtitle1 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  left: 447px;
  top: 15px;
}

.contact_img_subtitle2 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  left: 730px;
  top: -230px;
}

/* Projects page (projects.html) */
.projects_body {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: center;
  top: 10px;
}

.projects_box1 {
  position: relative;
  left: 200px;
  top: 10px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;

}

.projects_box1:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box1_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: -300px;
  left: 225px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;

}

.projects_box2 {
  position: relative;
  left: 650px;
  top: -455px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;
}

.projects_box2:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box2_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: -760px;
  left: 675px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;

}

.projects_box3 {
  position: relative;
  left: 200px;
  top: -600px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;

}

.projects_box3:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box3_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: -900px;
  left: 225px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;

}

.projects_box4 {
  position: absolute;
  left: 650px;
  top: 543px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;

}

.projects_box4:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box4_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: -990px;
  left: 680px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;
}

/* Education page (education.html) */
.education_body {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: center;
  top: 10px;
}

.education_box_1 {
  position: relative;
  left: 200px;
  top: 20px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_box_1 p {
  transform: translateX(15%)
}

.education_box_2 {
  position: relative;
  left: 625px;
  top: -320px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_box_3 {
  position: relative;
  left: 200px;
  top: -330px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;
}

.education_box_3 p {
  transform: translateX(10%);
}

.education_box_4 {
  position: relative;
  left: 625px;
  top: -670px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;
}

.education_box_4 p {
  text-align: center;
}

.education_subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  position: relative;
  text-align: center;
  top: -670px;
  right: 10px;
}

.education_course_box_1 {
  position: relative;
  left: 200px;
  top: -675px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;
}

.education_course_box_2 {
  position: relative;
  left: 625px;
  top: -915px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_3 {
  position: relative;
  left: 200px;
  top: -925px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_4 {
  position: relative;
  left: 625px;
  top: -1165px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_5 {
  position: relative;
  left: 200px;
  top: -1175px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_6 {
  position: relative;
  left: 625px;
  top: -1415px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_7 {
  position: relative;
  left: 200px;
  top: -1425px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_8 {
  position: relative;
  left: 625px;
  top: -1665px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_9 {
  position: relative;
  left: 200px;
  top: -1675px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_10 {
  position: relative;
  left: 625px;
  top: -1915px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

/* Footer (used across all .html files) */
.footer {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #23272A;
  color: #ffffff;
  text-align: center;
}

/* Tried to include responsiveness in code, but it did not work out for the entire website */
@media screen and (max-width:768px) {
  .home_body {
    position: absolute;
    text-align: center;
    font-size: 40px;
  }
  .home_p {
    position: absolute;
    text-align: center;
    font-size: 30px;
    padding: 60px 60px;
    top: 220px;
  }
  .home_button {
    position: absolute;
    text-align: center;
    top: 410px;
  }
  nav ul li a {
    position: absolute;
    padding-right: 30px;
    font-size: 12px;
  }
  img {
    display: none;
  }
}
