html {
  margin: 0;
}

header {
  width: 100%;
  height: 70px;
  background-color: #2C2F33;

}

h1 {
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

ul {
  width: auto;
  float: right;
  margin-top: 8px;
  margin-right: 2%;
}

li {
  display: inline-block;
  padding: 15px 30px;
}

a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

body {
  background-color: #2C2F33;
  color: #ffffff;
  margin: 0;
}

.home_img {
  position: relative;
  width: 32%;
  height: 32%;
  border-radius: 50%;
  left: 1100px;
  top: -280px;
}

.home_body {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  padding: 60px 60px;
  position: relative;
  top: 100px;
}

.home_p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  padding-left: 60px;
  position: relative;
  top: -8px;
  margin: 0;
}

.home_about_button {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  height: 60px;
  border: none;
  color: #ffffff;
  background-color: #23272A;
  position: absolute;
  top: 440px;
  left: 65px;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.home_about_button:hover {
  background-color: #ffffff;
  color: #2C2F33;
}

.home_contact_button {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  font-size: 15px;
  width: 100px;
  height: 60px;
  border: none;
  color: #ffffff;
  background-color: #23272A;
  position: absolute;
  top: 440px;
  left: 180px;
  border-radius: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.home_contact_button:hover {
  background-color: #ffffff;
  color: #2C2F33;
}

.about_body {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  position: relative;
  text-align: center;
  top: 10px;
}

.about_p {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  top: 30px;
  margin: 0;
}

.about_img {
  position: relative;
  width: 23%;
  height: 23%;
  border-radius: 50%;
  top: -10px;
  right: -727px;
}

.about_a {
  font-size: 20px;
  text-decoration: underline;
}

.about_container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about_box1 {
  position: absolute;
  left: 300px;
  top: 20px;
  width: 600px;
  height: 500px;
  margin: 40px 0;
  background-color: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #ffffff;
  border-radius: 5%;
  padding-top: 10px;
}

.about_box2 {
  position: absolute;
  left: 1000px;
  top: 20px;
  width: 600px;
  height: 500px;
  margin: 40px 0;
  background-color: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: #ffffff;
  border-radius: 5%;
  padding-top: 10px;
}

.about_ul {
  float: none;
  color: #ffffff;
}

.about_li {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  position: relative;
  top: 110px;
  left: 490px;
  display: list-item;
  color: #ffffff;
}

.about_li2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  position: relative;
  top: -295px;
  left: 1150px;
  display: list-item;
  color: #ffffff;
}

.contact_body {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  position: relative;
  text-align: center;
  top: 10px;
}

.contact_p {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: -5px;
  margin: 0;
}

.contact_img1 {
  position: relative;
  width: 12%;
  height: 12%;
  left: 640px;
  top: 30px;
}

.contact_img2 {
  position: relative;
  width: 12%;
  height: 12%;
  left: 1000px;
  top: -265px;
}

.contact_img_subtitle1 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  left: 715px;
  top: 30px;
}

.contact_img_subtitle2 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  left: 1080px;
  top: -268px;
}

.projects_body {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  position: relative;
  text-align: center;
  top: 10px;
}

.projects_box1 {
  position: absolute;
  left: 1000px;
  top: 200px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;

}

.projects_box1:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box1_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: 40px;
  left: 1025px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;

}

.projects_box2 {
  position: absolute;
  left: 1000px;
  top: 550px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;
}

.projects_box2:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box2_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: 295px;
  left: 1025px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;

}

.projects_box3 {
  position: absolute;
  left: 500px;
  top: 200px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;

}

.projects_box3:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box3_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: -162px;
  left: 525px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;

}

.projects_box4 {
  position: absolute;
  left: 500px;
  top: 550px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  transition-duration: 0.5s;

}

.projects_box4:hover {
  background: #ffffff;
  color: #2C2F33;
  align-items: baseline;

}

.projects_box4_p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #23272A;
  position: relative;
  top: 85px;
  left: 525px;
  padding: 20px;
  width: 300px;
  text-align: center;
  word-wrap: normal;
}

.education_body {
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  position: relative;
  text-align: center;
  top: 10px;
}

.education_box_1 {
  position: absolute;
  left: 525px;
  top: 200px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_box_1 p {
  transform: translateX(15%)
}

.education_box_2 {
  position: absolute;
  left: 950px;
  top: 200px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_box_3 {
  position: absolute;
  left: 525px;
  top: 525px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;
}

.education_box_3 p {
  transform: translateX(10%);
}

.education_box_4 {
  position: absolute;
  left: 950px;
  top: 525px;
  width: 400px;
  height: 300px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;
}

.education_box_4 p {
  text-align: center;
}

.education_subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  position: relative;
  text-align: center;
  top: 650px;
  right: 10px;
}

.education_course_box_1 {
  position: absolute;
  left: 525px;
  top: 950px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;
}

.education_course_box_2 {
  position: absolute;
  left: 950px;
  top: 950px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_3 {
  position: absolute;
  left: 525px;
  top: 1175px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_4 {
  position: absolute;
  left: 950px;
  top: 1175px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_5 {
  position: absolute;
  left: 525px;
  top: 1400px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_6 {
  position: absolute;
  left: 950px;
  top: 1400px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_7 {
  position: absolute;
  left: 525px;
  top: 1625px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_8 {
  position: absolute;
  left: 950px;
  top: 1625px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_9 {
  position: absolute;
  left: 525px;
  top: 1850px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.education_course_box_10 {
  position: absolute;
  left: 950px;
  top: 1850px;
  width: 400px;
  height: 200px;
  margin: 40px 0;
  background: #23272A;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 5%;
  word-wrap: normal;

}

.footer {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #23272A;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width:768px) {
  .home_body {
    position: absolute;
    text-align: center;
    font-size: 40px;
  }
  .home_p {
    position: absolute;
    text-align: center;
    font-size: 30px;
    padding: 60px 60px;
    top: 220px;
  }
  .home_button {
    position: absolute;
    text-align: center;
    top: 410px;
  }
  nav ul li a {
    position: absolute;
    padding-right: 30px;
    font-size: 12px;
  }
  img {
    display: none;
  }
}
